@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.svg#icomoon2") format("svg"); }
@font-face {
  font-family: 'grotesk';
  src: url("fonts/grotesk-webfont.woff2") format("woff2"), url("fonts/grotesk-webfont.woff") format("woff"); }
@font-face {
  font-family: 'Libel';
  src: url("fonts/libel-suit-rg-webfont.woff2") format("woff2"), url("fonts/libel-suit-rg-webfont.woff") format("woff"); }
@font-face {
  font-family: 'Akrobat';
  src: url("fonts/akrobat-regular-webfont.woff2") format("woff2"), url("fonts/akrobat-regular-webfont.woff") format("woff"); }
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width: 426px) {
  .container {
    width: 80%; } }
@media only screen and (min-width: 1050px) {
  .container {
    width: 88.5%; } }
.container .row {
  margin-left: -0.55rem;
  margin-right: -0.55rem; }

.row {
  margin-left: auto;
  margin-right: auto; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px; }

.row .col[class*="push-"], .row .col[class*="pull-"] {
  position: relative; }

@media (min-width: 0) {
  .row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.pull-s1 {
    right: 8.3333333333%; }

  .row .col.push-s1 {
    left: 8.3333333333%; }

  .row .col.pull-s2 {
    right: 16.6666666667%; }

  .row .col.push-s2 {
    left: 16.6666666667%; }

  .row .col.pull-s3 {
    right: 25%; }

  .row .col.push-s3 {
    left: 25%; }

  .row .col.pull-s4 {
    right: 33.3333333333%; }

  .row .col.push-s4 {
    left: 33.3333333333%; }

  .row .col.pull-s5 {
    right: 41.6666666667%; }

  .row .col.push-s5 {
    left: 41.6666666667%; }

  .row .col.pull-s6 {
    right: 50%; }

  .row .col.push-s6 {
    left: 50%; }

  .row .col.pull-s7 {
    right: 58.3333333333%; }

  .row .col.push-s7 {
    left: 58.3333333333%; }

  .row .col.pull-s8 {
    right: 66.6666666667%; }

  .row .col.push-s8 {
    left: 66.6666666667%; }

  .row .col.pull-s9 {
    right: 75%; }

  .row .col.push-s9 {
    left: 75%; }

  .row .col.pull-s10 {
    right: 83.3333333333%; }

  .row .col.push-s10 {
    left: 83.3333333333%; }

  .row .col.pull-s11 {
    right: 91.6666666667%; }

  .row .col.push-s11 {
    left: 91.6666666667%; }

  .row .col.pull-s12 {
    right: 100%; }

  .row .col.push-s12 {
    left: 100%; } }
@media (min-width: 426px) {
  .row .col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.pull-m1 {
    right: 8.3333333333%; }

  .row .col.push-m1 {
    left: 8.3333333333%; }

  .row .col.pull-m2 {
    right: 16.6666666667%; }

  .row .col.push-m2 {
    left: 16.6666666667%; }

  .row .col.pull-m3 {
    right: 25%; }

  .row .col.push-m3 {
    left: 25%; }

  .row .col.pull-m4 {
    right: 33.3333333333%; }

  .row .col.push-m4 {
    left: 33.3333333333%; }

  .row .col.pull-m5 {
    right: 41.6666666667%; }

  .row .col.push-m5 {
    left: 41.6666666667%; }

  .row .col.pull-m6 {
    right: 50%; }

  .row .col.push-m6 {
    left: 50%; }

  .row .col.pull-m7 {
    right: 58.3333333333%; }

  .row .col.push-m7 {
    left: 58.3333333333%; }

  .row .col.pull-m8 {
    right: 66.6666666667%; }

  .row .col.push-m8 {
    left: 66.6666666667%; }

  .row .col.pull-m9 {
    right: 75%; }

  .row .col.push-m9 {
    left: 75%; }

  .row .col.pull-m10 {
    right: 83.3333333333%; }

  .row .col.push-m10 {
    left: 83.3333333333%; }

  .row .col.pull-m11 {
    right: 91.6666666667%; }

  .row .col.push-m11 {
    left: 91.6666666667%; }

  .row .col.pull-m12 {
    right: 100%; }

  .row .col.push-m12 {
    left: 100%; } }
@media (min-width: 1050px) {
  .row .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.pull-l1 {
    right: 8.3333333333%; }

  .row .col.push-l1 {
    left: 8.3333333333%; }

  .row .col.pull-l2 {
    right: 16.6666666667%; }

  .row .col.push-l2 {
    left: 16.6666666667%; }

  .row .col.pull-l3 {
    right: 25%; }

  .row .col.push-l3 {
    left: 25%; }

  .row .col.pull-l4 {
    right: 33.3333333333%; }

  .row .col.push-l4 {
    left: 33.3333333333%; }

  .row .col.pull-l5 {
    right: 41.6666666667%; }

  .row .col.push-l5 {
    left: 41.6666666667%; }

  .row .col.pull-l6 {
    right: 50%; }

  .row .col.push-l6 {
    left: 50%; }

  .row .col.pull-l7 {
    right: 58.3333333333%; }

  .row .col.push-l7 {
    left: 58.3333333333%; }

  .row .col.pull-l8 {
    right: 66.6666666667%; }

  .row .col.push-l8 {
    left: 66.6666666667%; }

  .row .col.pull-l9 {
    right: 75%; }

  .row .col.push-l9 {
    left: 75%; }

  .row .col.pull-l10 {
    right: 83.3333333333%; }

  .row .col.push-l10 {
    left: 83.3333333333%; }

  .row .col.pull-l11 {
    right: 91.6666666667%; }

  .row .col.push-l11 {
    left: 91.6666666667%; }

  .row .col.pull-l12 {
    right: 100%; }

  .row .col.push-l12 {
    left: 100%; } }
@media (min-width: 0) {
  footer .row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; } }
@media (min-width: 626px) {
  footer .row .col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; } }
@media (min-width: 1050px) {
  footer .row .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; } }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-linkedin:before {
  content: "\e90b"; }

.icon-youtube:before {
  content: "\e900"; }

.icon-conference:before {
  content: "\e901"; }

.icon-twitter:before {
  content: "\e903"; }

.icon-projection-screen-copy:before {
  content: "\e904"; }

.icon-photo:before {
  content: "\e905"; }

.icon-facebook:before {
  content: "\e906"; }

.icon-home:before {
  content: "\e907"; }

.icon-left:before {
  content: "\e908"; }

.icon-right:before {
  content: "\e909"; }

.icon-play:before {
  content: "\e90a"; }

.icon-chevron-bottom:before {
  content: "\e914"; }

.icon-menu-button:before {
  content: "\e902"; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Helvetica, Verdana, sans-serif;
  outline: 0;
  box-shadow: none; }

html {
  font-size: 10px; }

a {
  text-decoration: none;
  color: #4c4c4c; }

li {
  list-style: none; }

.center {
  text-align: center; }

.no-padding {
  padding: 0 !important; }

@media only screen and (max-width: 425px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important; } }
@media only screen and (min-width: 426px) {
  .hide-on-med-and-up {
    display: none !important; } }
@media only screen and (max-width: 1049px) {
  .hide-on-med-and-down {
    display: none !important; } }
@media only screen and (min-width: 1050px) {
  .hide-on-large-only {
    display: none !important; } }
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .hide-on-med-only {
    display: none !important; } }
.header .menu-principal {
  width: 100%;
  min-height: 40px; }
@keyframes entrada {
  from {
    opacity: 0;
    top: 23px; }
  to {
    opacity: 1;
    top: 43px; } }
  .header .menu-principal .menu {
    width: 100%;
    background-color: #d8d8d8;
    text-align: right;
    padding: 20px;
    display: block;
    cursor: pointer;
    font-weight: 900; }
    @media only screen and (min-width: 700px) {
      .header .menu-principal .menu {
        display: none; } }
    .header .menu-principal .menu button {
      font-size: 1.6rem;
      border: none;
      background-color: transparent; }
      .header .menu-principal .menu button i {
        padding-left: 10px; }
  @media only screen and (max-width: 400px) {
    .header .menu-principal .container {
      width: 100%; } }
  .header .menu-principal .container ul {
    width: 100%;
    height: 100%;
    display: none; }
    @media only screen and (max-width: 400px) {
      .header .menu-principal .container ul {
        margin: 0; } }
    @media only screen and (min-width: 700px) {
      .header .menu-principal .container ul {
        display: block; } }
    .header .menu-principal .container ul li {
      text-align: center;
      height: 100%;
      position: relative;
      border-bottom: 1px solid #e0e0e0; }
      @media only screen and (max-width: 400px) {
        .header .menu-principal .container ul li {
          padding: 0; } }
      @media only screen and (min-width: 700px) {
        .header .menu-principal .container ul li {
          border: none; } }
      .header .menu-principal .container ul li a {
        padding: 20px;
        font-size: 1.5rem;
        height: 100%;
        cursor: pointer;
        display: block; }
        .header .menu-principal .container ul li a:hover {
          background-color: #e9e9e9; }
        @media only screen and (min-width: 700px) {
          .header .menu-principal .container ul li a {
            font-size: 1.7rem;
            padding: 10px; } }
        @media only screen and (min-width: 1170px) {
          .header .menu-principal .container ul li a {
            font-size: 1.8rem; } }
        .header .menu-principal .container ul li a [class^="icon-"], .header .menu-principal .container ul li a [class*=" icon-"] {
          font-size: 2rem;
          padding-right: 10px; }
        .header .menu-principal .container ul li a .icon-chevron-bottom {
          font-size: 1rem; }
      .header .menu-principal .container ul li ul.sub-menu {
        display: none;
        position: relative;
        top: 0px;
        opacity: 1; }
        @media only screen and (min-width: 700px) {
          .header .menu-principal .container ul li ul.sub-menu {
            display: none;
            position: absolute;
            display: none;
            top: 43px;
            background-color: white;
            width: 100%;
            opacity: 0; } }
        .header .menu-principal .container ul li ul.sub-menu.active {
          display: block; }
          @media only screen and (min-width: 700px) {
            .header .menu-principal .container ul li ul.sub-menu.active {
              display: block;
              opacity: 1;
              animation-name: entrada;
              animation-timing-function: ease-in-out;
              animation-duration: .5s; } }
        .header .menu-principal .container ul li ul.sub-menu li {
          background: #f3f3f3;
          position: relative; }
          @media only screen and (min-width: 700px) {
            .header .menu-principal .container ul li ul.sub-menu li {
              background: white; } }
.header .logos {
  width: 100%;
  height: 90px;
  background-color: white;
  border-bottom: 1px solid lightgray; }
  .header .logos .logodde img {
    height: 64px;
    width: auto;
    display: block;
    float: left;
    margin-top: 11px; }
    @media only screen and (min-width: 700px) {
      .header .logos .logodde img {
        height: 80px;
        margin-top: 5px; } }
  .header .logos .logocongreso {
    max-width: 100px;
    height: 90px;
    float: right; }
    .header .logos .logocongreso img {
      height: 80px;
      width: auto;
      display: block;
      float: left;
      margin-top: 5px; }

.galeria2016 {
  width: 80%;
  max-width: 1200px;
  min-height: 300px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px; }
  .galeria2016 .imagen-filtrable {
    width: 28%;
    margin: 0 auto;
    display: inline-block;
    height: 234px;
    border: 1px solid #d2d1d1;
    margin-bottom: 4px;
    cursor: pointer;
    background-color: #404040; }
    .galeria2016 .imagen-filtrable .imagen-filtro {
      width: 100%;
      height: 190px;
      margin-bottom: 10px; }
    .galeria2016 .imagen-filtrable .etiqueta {
      width: 100%;
      height: 40px;
      color: white;
      padding: 0px; }

.filtrar {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  max-width: 565px;
  text-align: center; }
  .filtrar li {
    color: #666666;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #8e8e8e;
    margin: 2px; }
    .filtrar li a {
      padding: 10px; }
  .filtrar .btn {
    display: inline-block;
    border: 1px solid gray;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid gray;
    border-radius: 4px; }

h1 {
  font-family: 'Libel';
  font-weight: normal;
  font-size: 3.5rem;
  text-decoration: underline;
  text-decoration-color: #9F1318;
  text-align: center;
  margin-top: 20px; }
  @media only screen and (min-width: 700px) {
    h1 {
      font-size: 5.5rem; } }

.mixitup-control-active {
  background-color: #9F1318;
  color: white; }
  .mixitup-control-active a {
    color: white; }

/*# sourceMappingURL=galeria.css.map */
