.contactanos{
    width: 100%;
    min-height: 400px;
    background-color: white;
    text-align: center;
    @media screen and (min-width:700px) {
        text-align: left;
    }
    p{
        font-size: 1.6rem;
    }
    .logodde{
        a{
        color:#A3CE87;
        font-size: 2.3rem;
        font-family: 'Libel';
        display: block;
        margin-top: 10px;
        &:hover{
            color:#59863C;

        }
    }}
    .text{
     width: 100%;
     height: 100%;
     padding: 20px;
     @media only screen and (min-width:700px){
        width: 50%;
        height: 100%;
        padding: 35px;
        float: left;
     }
     .dates{
         font-size: 1.5rem;
         color: #494949;
         @media only screen and (min-width:700px){
            font-size: 1.6rem;
         }
     }

     h2{    font-family: 'Libel'; font-weight: normal;
         &.title{

            font-size: 3.5rem;
            text-decoration: underline;
            text-decoration-color: #9F1318;

            @media only screen and (min-width:700px){
                font-size: 5.5rem;

            }
         }
     }
     p{
         font-size: 1.8rem;
     }
     .btn{
        padding: 16px 20px;
        background-color: #59863C;
        color: white;
        display: block;
        max-width: 190px;
        margin-top: 19px;
        font-size: 1.6rem;
        text-align: center;
        font-family: 'Akrobat';
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        align-items: center;
    justify-content: center;

    span{
        padding-left: 10px;
        font-family: 'Akrobat';
        font-size:2rem;
    }
        &:hover{
            background-color: #447027;
        }
        @media only screen and (min-width:700px){
            margin-right: 0px;
            margin-left:0px;

 }
     }
     .siguenos{
        max-width: 114px;
     }
     .redes{
        [class^="icon-"], [class*=" icon-"] {
            /* use !important to prevent issues with browser extensions that change fonts */
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 4rem;
            margin: 0px;
    padding: 0px;
    max-width: 50px;
          
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
     }
    }
    .image{
        width: 100%;
        height: 100%;
        min-height: 200px;
        background-image: url(../img/img.jpg);
        background-size: cover;



        @media only screen and (min-width:700px){
            width: 50%;
            float: left;

            min-height: 410px;

        }
    }
}