.expositores{

    background-color: #232323;
    padding-top: 80px;
    padding-bottom: 80px;

    .owl-prev{
        position: absolute;
        left: -77px;
        top: 120px;
        width: 60px;
        height: 60px;
        border-radius: 50%!important;
        color: #58853c !important;
        background-color: #58853c!important;
        background-image: url(../img/back.png) !important;
        background-position: center!important;
        background-repeat: no-repeat!important;
        background-size: 26%!important;
    }

    .owl-next{
        position: absolute;
        right: -77px;
        top: 120px;
        width: 60px;
        height: 60px;
        border-radius: 50%!important;
        color: #58853c !important;
        background-color: #58853c!important;
        background-image: url(../img/next.png) !important;
        background-position: center!important;
        background-repeat: no-repeat!important;
        background-size: 26%!important;


    }

    h2{    font-family: 'Libel'; font-weight: normal;
        &.title{
            color:white;
           font-size: 4.5rem;
           text-decoration: underline;
           text-decoration-color: #9F1318;
           text-align: center;
           padding-bottom: 20px;
           @media only screen and (min-width:700px){
            font-size: 5.5rem;

        }
        }
    }
    .expositores-slider{

        .expositor{
            min-height: 302px;
            background-color:white;
            border-radius:10px;
            overflow: hidden;
            .imagen{
                height: 218px;

                background-image: url(
                    ../img/expositores/cayetana.jpg
                );
                background-size: cover;

            }
            .text{
                display: flex;
                height: 124px;
                align-items: center;
                flex-flow: column;
                justify-content: center;
            h3{font-size: 20px;
                color:#4C4C4C;
                font-family: 'Lato';
                font-weight: 900;
               
        }
            p{
                font-size: 14px;
                color:#4C4C4C;
                font-family: 'Lato';
                font-weight: 400;
            }
        }
    }
    }
}