.hero{
    min-height: 50px;
    width: 100%;

    .image{

        background-image: url(../img/bg-mobile.jpg);
        min-height: 80px;
        background-size: cover;
        background-position: right;
        padding-top: 60px;
        padding-bottom: 70px;

        @media only screen and (min-width:700px){
            background-image: url(../img/background-dde312312.jpg);
            min-height: 410px;
            background-size: cover;
            background-position: bottom right;
            padding-top: 100px;
            padding-bottom: 0px;
        }
       
        .textohero{
            h1{color: white;
                font-size: 3.2rem;
                font-family: 'Libel';
                font-weight: normal;
                line-height: 4.4rem;
                text-transform: uppercase;
                text-align: center;
            
                @media only screen and (min-width:700px){
                    font-size: 5.2rem;
                    line-height: 6.2rem;
                }
            
            }
            hr{    background-color: #618848;
                border: 2px solid #618848;
                margin: 6px auto;

                @media only screen and (min-width:700px){
                    margin: 15px auto;


                }
            }
            h2{color:#E3E3E3; font-family: 'Akrobat'; font-weight: normal; font-size: 2rem;
                text-align: center;;
            @media only screen and (min-width:700px){
                text-align: left;
                font-size: 4rem;
            }
            }
        }
    }
    .bar{
        height: 138px;
        width: 100%;
        background-color: #2F2F2F;
        .text{


            color: white;
    font-size: 2.6rem;
    padding-top: 43px;
    padding-left: 30px;
        }
        span{    color: white;
            display: block;
            font-size: 1.2rem;}
        img{
            height: 120px;
            padding-top: 10px;
        }
        .containercontador{
            margin-left: 41.6666666667%;
            display: none;

            @media only screen and (min-width:700px){
                display: block;
            }
        

        .contador{
            float: right;
            font-size: 45px;
            color: white;
            padding: 30px;
            padding-top: 9%;
            padding-bottom: 0px;
            padding-right: 0px;
            padding-left: 0px;
        }
        .dias{
            display: block;
            width: 100%;
            font-size: 20px;
            text-align: center;
            color: white;
            span{

                font-size: 20px;
                display: inline-block;
                margin-left: 16px;
                font-weight: 300;
            }
        }
    }

    }
}