.hero{
    min-height: 50px;
    width: 100%;

    .image{

        background-image: url(../img/bg-mobile.jpg);
        min-height: 80px;
        background-size: cover;
        background-position: right;
        padding-top: 60px;
        padding-bottom: 70px;

        @media only screen and (min-width:700px){
            background-image: url(../img/background-dde312312.jpg);
            min-height: 410px;
            background-size: cover;
            background-position: bottom right;
            padding-top: 100px;
            padding-bottom: 0px;
        }
       
        .textohero{
            h1{color: white;
                font-size: 3rem;
                font-family: 'Libel';
                font-weight: normal;
                line-height: 4.4rem;
                text-transform: uppercase;
                text-align: center;
            
                @media only screen and (min-width:700px){
                    font-size: 5.2rem;
                    line-height: 6.2rem;
                }
            
            }
            hr{    background-color: #618848;
                border: 2px solid #618848;
                margin: 6px auto;

                @media only screen and (min-width:700px){
                    margin: 15px auto;


                }
            }
            h2{color:#E3E3E3; font-family: 'Akrobat'; font-weight: normal; font-size: 2rem;
                text-align: center;;
            @media only screen and (min-width:700px){
                text-align: left;
                font-size: 4rem;
            }
            }
        }
    }
    .bar{
        height: 138px;
        width: 100%;
        background-color: #2F2F2F;
        .text{

            color: white;
            font-size: 4.6rem;
            padding-top: 45px;
            padding-left: 30px;
            line-height: 34px;
            font-family: 'Libel';
        }
        span{   color: white;
            display: block;
            font-size: 2.3rem;
            font-family: 'Libel';}
        img{
            height: 120px;
            padding-top: 10px;
        }
        .containercontador{
            margin-left: 41.6666666667%;
            display: none;

            @media only screen and (min-width:700px){
                display: block;
            }
        

        .contador{
            font-size: 62px;
            color: white;
            padding: 30px;
            padding-top: 21px;
            padding-bottom: 0px;
            padding-right: 0px;
            padding-left: 0px;
            font-family: 'Libel';
            font-weight: normal;
            text-align: center;
            height: 90px;
            h5{
                display: inline;
                color:#A3CE87;
            }
        }
        .dias{
            display: block;
            width: 100%;
            font-size: 41px;
            padding: 0px;
            text-align: center;
            color: white;
            font-family: 'Akrobat';
            height: 30px;
            margin: 0px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 4px;
            span{

                font-size: 20px;
    margin-left: 28px;
    font-weight: 100;
    font-family: 'Akrobat';
    padding: 0px;
    margin-top: 0px;
    float: left;
    text-align: center;
            }
        }
    }

    }
}